.carousel {
	height: 68vw;
	max-height: 25.9375rem;
	position: relative;
	border-radius: 0.625rem;
	overflow: hidden;
	margin-bottom: 0.9375rem;
	@media screen and (min-width: 700px) {
		margin-bottom: 22.5px;
	}
	@media screen and (min-width: 1224px) {
		margin-bottom: 1.875rem;
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__arrows {
		position: absolute;
		top: 50%; /* vertical alignment */
		transform: translate(0, -50%); /* precise centering */
		height: 5.28vw;
		@media screen and (min-width: 1224px) {
			height: 79.2px;
		}
		&:hover {
			cursor: pointer;
		}
		&--prevArrow {
			left: 0.365rem;
			@media screen and (min-width: 1224px) {
				left: 1.46rem;
			}
		}
		&--nextArrow {
			right: 0.365rem;
			@media screen and (min-width: 1224px) {
				right: 1.46rem;
			}
		}
	}
}
