.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	@media screen and (min-width: 900px) {
		margin-bottom: 4rem;
	}
	&__logo {
		width: 9.063rem;
		@media screen and (min-width: 650px) {
			width: 13.145rem;
		}
	}
	&__nav {
		font-size: 0.75rem;
		@media screen and (min-width: 650px) {
			font-size: 1.6rem;
		}
		.--active {
			text-decoration: underline;
		}
	}
	&__links {
		&:not(:last-child) {
			margin-right: 0.625rem;
			@media screen and (min-width: 650px) {
				margin-right: 3.75rem;
			}
		}
	}
}

// .active {
// 	text-decoration: underline;
// }
